:root {
    --primary-color: #1a1a2e;
    --secondary-color: #009688;
    --accent-color: #ff5722;
    --text-color: #333333;
    --bg-color: #f7f7f7;
    --white: #ffffff;
    --header-height: 70px;

    
}